<div class="container" ng-controller="unCandidat">


    <div class="col-offset-3 panel">
        <h3 class="text-center">le candidat</h3>
        <form class="form-well jumbotron" id="idform">
            <p>{{Candidat.idcandidat}}</p>

            <div class="col-auto row form-group">
                <label class="form-label col"> NOM :</label>
                <p> {{Candidat.nom}} </p>
                <label class="form-label col"> PRENOM:</label>
                <p> {{Candidat.prenom}} </p>
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col"> AGE:</label>
                <p> {{Candidat.age}}} </p>
                <label class="form-label col"> DATE DE NAISSANCE: </label>
                <p> {{Candidat.date_naissance}} </p>
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col"> NATIONALITE:</label>
                <p> {{Candidat.Nationalite}} </p>
                <label class="form-label col"> ADRESSE:</label>
                <p>{{Candidat.adresse}} </p>
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col"> VILLE:</label>
                <p> {{Candidat.Ville}} </p>
                <label class="form-label col"> CODE POSTAL:</label>
                <p> {{Candidat.Code_Postal}} </p>
            </div>
            <div class="col-auto row form-group">
                <label class="form-label col"> EMAIL:</label>
                <p> {{Candidat.email}} </p>
                <label class="form-label col"> TEL:</label>
                <p> {{Candidat.telephone}} </p>
            </div>

        </form>
    </div>


    <h3 class="text-center">les competences</h3>

    <div class="row" ng-controller="competences">
        <form class="mr-3 form-well jumbotron" id="idformcom" ng-repeat="competence in lescompetences">
            <p>{{competence.idcompetence}}</p>

            <div class="col-auto row form-group">
                <label class="form-label col"> TITRE :</label>
                <p>{{competence.com_nom}} </p>
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col"> EVAL:</label>
                <p>{{competence.com_evaluation}} </p>
            </div>

        </form>
    </div>


    <h3 class="text-center">les diplomes</h3>
    <div class="row" ng-controller="diplomes">
        <form class="mr-3 form-well jumbotron" id="idformdip" ng-repeat="diplome in lesdiplomes">
            <p>{{competence.iddiplome}}</p>

            <div class="col-auto row form-group">
                <label class="form-label col"> TYPE :</label>
                <p>{{diplome.type_diplome}} </p>
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col"> date_obtention:</label>
                <p>{{diplome.date_obtention}} </p>
            </div>
        </form>
    </div>

    <h3 class="text-center">les langues</h3>
    <div class="row" ng-controller="langues">
        <form class="form-well jumbotron" id="idformlang" ng-repeat="langue in leslangues">
            <p>{{langue.idlangue}}</p>

            <div class="col-auto row form-group">
                <label class="form-label col"> NOM :</label>
                <p> {{langue.l_nom}} </p>
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col"> Evaluation:</label>
                <p> {{langue.l_evaluation}} </p>
            </div>
        </form>
    </div>


    <h3 class="text-center">les experiences</h3>
    <div class="row" ng-controller="experiences">
        <form class="mr-3 jumbotron" id="idformlang" ng-repeat="experience in lesexperiences">
            <p>{{experience.idexperience_pro}}</p>

            <div class="col-auto row form-group">
                <label class="form-label col"> employeur :</label>
                <p>{{experience.employeur}} </p>
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col"> DEBUT C:</label>
                <p> {{experience.debut_contrat}}
                <p/>
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col"> FIN C:</label>
                <p>{{experience.fin_contrat}} </p>
            </div>
        </form>
    </div>


    <h3 class="text-center">les interets</h3>
    <div class="row" ng-controller="interets">
        <form class="mr-3 jumbotron" id="idformlang" ng-repeat="interet in lesinterets">
            <p>{{interet.idinteret}}</p>

            <div class="col-auto row form-group">
                <label class="form-label col"> NOM :</label>
                <p> {{interet.nom}} </p>
            </div>
        </form>
    </div>
</div>

