<div class="container" ng-controller="listecompetences">
    <div ng-include="'templates/navbar.html'"> </div>

    <input class="form-control col-lg-4 col-md-4 col-sm-3" type="search" data-ng-model="com_nom" placeholder="Search competences" aria-label="Search"></input>

    <h3 class="text-center">liste des competences</h3>

    <div class="col-offset-1 col-auto row ">
        <form class="form-well jumbotron mr-3 " id="idformcom" ng-repeat="competence in lescompetences|filter:com_nom track by $index">
            <input hidden="true" type="text" class="form-control" 
            ng-model="competence.idcompetence"/>

            <div class="col-auto row form-group">
                <label class="form-label col" > TITRE :</label>
                    <input type="text"  ng-model="competence.com_nom" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" > EVAL:</label>
                <input type="text" class="input" ng-model="competence.com_evaluation" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" >COMMENTAIRE:</label>
            </div>
            <div class="col-auto row form-group ">
                <textarea ng-model="competence.com_commentaire" class="col-12"  form="idformcom">
                </textarea>
            </div>
            <div ng-controller="operationUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="modifierComp()" 
                    class=" col-12 btn btn-success" value="valider Modification" />
                </div>
                <div class="alert alert-success" ng-show="showme">
                    <strong> competence modifié.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hideme">
                    <strong> Erreur update competence.</strong>
                </div>
            </div>
            <div ng-controller="operationsupprimerUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="supprimerComp()" 
                    class=" col-12  btn btn-warning" value="supprimer" />
                </div>
                <div class="alert alert-success" ng-show="showme">
                    <strong> competence supprimer.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hideme">
                    <strong> Erreur suppression competence.</strong>
                </div>
            </div>
        </form>
    </div>
    <h3><center>Ajout compétence</center></h3>

    <div class="row justify-content-center">
        <form class="form-well jumbotron"  id="idformcom" >
            <input hidden="true" type="text" class="form-control" 
            ng-model="competence.idcompetence"/>

            <div class="col-auto row form-group">
                <label class="form-label col" > TITRE :</label>
                    <input type="text"  ng-model="competence.com_nom" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" > EVAL:</label>
                <input type="text" class="input" ng-model="competence.com_evaluation" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" >COMMENTAIRE:</label>
            </div>
            <div class="col-auto row form-group ">
                <textarea ng-model="competence.com_commentaire" class="col-offset-3 col-12" form="idformcom">
                </textarea>
            </div>
            <div ng-controller="operationinsereUtilisateur">
                <div class="form-group" > 
                    <input type="submit" ng-click="insererComp()" 
                    class=" col-12  btn btn-success" value="valider" />
                </div>
                <div class="alert alert-success" ng-show="showme">
                    <strong> competence ajouté.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hideme">
                    <strong> Erreur ajout competence.</strong>
                </div>
            </div>
        </form>
    </div>
</div>

