<div class="container" ng-controller="listeDiplomes">
    <div ng-include="'templates/navbar.html'"> </div>

    <h3 class="text-center">liste des diplomes</h3>
    <input class="form-control col-lg-4 col-md-4 col-sm-3" type="search" data-ng-model="type_diplome" placeholder="Search diplomes by type" aria-label="Search"></input>
    <div class="col-offset-3 col-auto panel row ">
        <form class="form-well jumbotron mr-3 col-lg-3 col-md-3 col-sm-3" id="idformcom" ng-repeat="diplome in lesdiplomes|filter:type_diplome track by $index">
            <input hidden="true" type="text" class="form-control" 
            ng-model="diplome.iddiplome"/>

            <div class="col-auto row form-group">
                <label class="form-label col" > TYPE DIPLOME :</label>
                    <input type="text"  ng-model="diplome.type_diplome" />
            </div>
            <div class="col-auto row form-group">
                <label class="form-label col" > OBTENTION :</label>
                    <input type="text"  ng-model="diplome.date_obtention" />
            </div>
            <div class="col-auto row form-group">
                <label class="form-label col" >COMMENTAIRE:</label>
            </div>

            <div class="col-auto row form-group ">
                <textarea ng-model="diplome.dip_commentaire" class="col-offset-3 col-12" form="idformcom">
                </textarea>
            </div>
            <div ng-controller="operationUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="modifierDip()" 
                    class=" col-12 btn btn-success" value="valider Modification" />
                </div>
                <div class="alert alert-success" ng-show="showmeDip">
                    <strong> diplome modifié.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hidemeDip">
                    <strong> Erreur update diplome.</strong>
                </div>
            </div>
            <div ng-controller="operationsupprimerUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="supprimerDip()" 
                    class=" col-12 btn btn-warning" value="supprimer" />
                </div>
                <div class="alert alert-success" ng-show="showmeDip">
                    <strong> diplome supprime.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hidemeDip">
                    <strong> Erreur suppression diplome.</strong>
                </div>
            </div>
        </form>
    </div>
    <h3><center>Ajout diplome</center></h3>

    <div class="row justify-content-center">
        <form class="form-well jumbotron"  id="idformcom">
            <input hidden="true" type="text" class="form-control" 
            ng-model="nvdiplome.iddiplome"/>

            <div class="col-auto row form-group">
                <label class="form-label col" > TYPE DIPLOME :</label>
                    <input type="text"  ng-model="nvdiplome.type_diplome" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" >date obtention :</label>
                    <input type="text"  ng-model="nvdiplome.date_obtention" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" >COMMENTAIRE:</label>
            </div>
            <div class="col-auto row form-group ">
                <textarea ng-model="nvdiplome.dip_commentaire" class="col-offset-3 col-12" form="idformcom">
                </textarea>
            </div>
            <div ng-controller="operationinsereUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="insererDip()" 
                    class=" col-12 btn btn-success" value="valider" />
                </div>
                <div class="alert alert-success" ng-show="showmeDip">
                    <strong> diplome ajouté.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hidemeDip">
                    <strong> Erreur ajout diplome.</strong>
                </div>
            </div>
        </form>
    </div>
</div>