<div class="container" ng-controller="listeExperiences">
    <div ng-include="'templates/navbar.html'"> </div>

    <h3 class="text-center">liste des experiences</h3>

    <div class="col-offset-3 col-auto panel row ">
        <form class="form-well jumbotron mr-3 " id="idformcom" ng-repeat="experience in lesexperiences">
            <input hidden="true" type="text" class="form-control" 
            ng-model="experience.idexperience_pro"/>

            <div class="col-auto row form-group">
                <label class="form-label col" > EMPLOYEUR :</label>
                    <input type="text"  ng-model="experience.employeur" />
            </div>
            <div class="col-auto row form-group">
                <label class="form-label col" > DEBUT CONTRAT :</label>
                    <input type="text"  ng-model="experience.debut_contrat" />
            </div>
            <div class="col-auto row form-group">
                <label class="form-label col" > Fin CONTRAT :</label>
                    <input type="text"  ng-model="experience.fin_contrat" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" >COMMENTAIRE:</label>
            </div>

            <div class="col-auto row form-group ">
                <textarea ng-model="experience.xpro_Commentaire" class="col-offset-3 col-12" form="idformcom">
                </textarea>
            </div>
            <div ng-controller="operationUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="modifierExpr()" 
                    class=" col-12 btn btn-success" value="valider Modification" />
                </div>
                <div class="alert alert-success" ng-show="showmeExpr">
                    <strong> experience modifiee.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hidemeExpr">
                    <strong> Erreur update experience.</strong>
                </div>
            </div>
            <div ng-controller="operationsupprimerUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="supprimerExpr()" 
                    class=" col-12 btn btn-warning" value="supprimer" />
                </div>
                <div class="alert alert-success" ng-show="showmeExpr">
                    <strong> experience supprimee.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hidemeExpr">
                    <strong> Erreur suppression experience.</strong>
                </div>
            </div>
        </form>
    </div>
    <h3><center>Ajout Experience professionnelle</center></h3>

    <div class="row justify-content-center">

        <form class="form-well jumbotron mr-3 " id="idformcom">
            <input hidden="true" type="text" class="form-control" 
            ng-model="nvexperience.idexperience_pro"/>

            <div class="col-auto row form-group">
                <label class="form-label col" > EMPLOYEUR :</label>
                    <input type="text"  ng-model="nvexperience.employeur" />
            </div>
            <div class="col-auto row form-group">
                <label class="form-label col" > DEBUT CONTRAT :</label>
                    <input type="text"  ng-model="nvexperience.debut_contrat" />
            </div>
            <div class="col-auto row form-group">
                <label class="form-label col" > Fin CONTRAT :</label>
                    <input type="text"  ng-model="nvexperience.fin_contrat" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" >COMMENTAIRE:</label>
            </div>

            <div class="col-auto row form-group ">
                <textarea ng-model="nvexperience.xpro_Commentaire" class="col-offset-3 col-12" form="idformcom">
                </textarea>
            </div>
            <div ng-controller="operationinsereUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="insererExpr()" 
                    class=" col-12 btn btn-success" value="valider ajout" />
                </div>
                <div class="alert alert-success" ng-show="showme">
                    <strong> experience inseree.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hideme">
                    <strong> Erreur insertion experience.</strong>
                </div>
            </div>
        </form>

    </div>
</div>