<div class="container" ng-controller="listeExperiences">
    <div ng-include="'templates/navbar.html'"> </div>

    <h3 class="text-center">liste des experiences</h3>

    <div class="col-offset-3 col-auto panel row ">
        <form class="form-well jumbotron mr-3 " id="idformcom" ng-repeat="experience in lesexperiences">
            <input hidden="true" type="text" class="form-control" 
            ng-model="experience.idexperience_pro"/>

            <div class="col-auto row form-group">
                <label class="form-label col" > EMPLOYEUR :</label>
                    <input type="text"  ng-model="experience.employeur" />
            </div>
            <div class="col-auto row form-group">
                <label class="form-label col" > DEBUT CONTRAT :</label>
                    <input type="text"  ng-model="experience.debut_contrat" />
            </div>
            <div class="col-auto row form-group">
                <label class="form-label col" > Fin CONTRAT :</label>
                    <input type="text"  ng-model="experience.fin_contrat" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" >COMMENTAIRE:</label>
            </div>

            <div class="col-auto row form-group ">
                <textarea ng-model="experience.xpro_Commentaire" class="col-offset-3 col-12" form="idformcom">
                </textarea>
            </div>
            <div ng-controller="operationUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="modifierComp()" 
                    class=" col-12 btn btn-success" value="valider Modification" />
                </div>
                <div class="alert alert-success" ng-show="showme">
                    <strong> competence modifié.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hideme">
                    <strong> Erreur update competence.</strong>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <input type="submit" value="add" class=" mb-4 offset-4 col-4"></input>
    </div>
    <div class="row justify-content-center">
        <form class="form-well jumbotron mr-3 " id="idformcom">
            <input hidden="true" type="text" class="form-control" 
            ng-model="nvexperience.idexperience_pro"/>

            <div class="col-auto row form-group">
                <label class="form-label col" > EMPLOYEUR :</label>
                    <input type="text"  ng-model="mvexperience.employeur" />
            </div>
            <div class="col-auto row form-group">
                <label class="form-label col" > DEBUT CONTRAT :</label>
                    <input type="text"  ng-model="nvexperience.debut_contrat" />
            </div>
            <div class="col-auto row form-group">
                <label class="form-label col" > Fin CONTRAT :</label>
                    <input type="text"  ng-model="experience.fin_contrat" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" >COMMENTAIRE:</label>
            </div>

            <div class="col-auto row form-group ">
                <textarea ng-model="experience.xpro_Commentaire" class="col-offset-3 col-12" form="idformcom">
                </textarea>
            </div>
            <div ng-controller="operationUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="modifierComp()" 
                    class=" col-12 btn btn-success" value="valider ajout" />
                </div>
                <div class="alert alert-success" ng-show="showme">
                    <strong> competence modifié.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hideme">
                    <strong> Erreur update competence.</strong>
                </div>
            </div>
        </form>

    </div>
</div>