<div class="container" ng-controller="listeinterets">
    <div ng-include="'templates/navbar.html'"> </div>

    <h3 class="text-center">liste des interets</h3>

    <div class="col-offset-3 col-auto panel row ">
        <form class="form-well jumbotron mr-3 " id="idformcom" ng-repeat="interet in lesinterets">
            <input hidden="true" type="text" class="form-control" 
            ng-model="interet.idinteret"/>

            <div class="col-auto row form-group">
                <label class="form-label col" > TITRE :</label>
                    <input type="text"  ng-model="interet.nom" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" >COMMENTAIRE:</label>
            </div>
            <div class="col-auto row form-group ">
                <textarea ng-model="interet.commentaire" class="col-offset-3 col-12" form="idformcom">
                </textarea>
            </div>
            <div ng-controller="operationUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="modifierInt()" 
                    class=" col-12 btn btn-success" value="valider Modification" />
                </div>
                <div class="alert alert-success" ng-show="showmeInt">
                    <strong> interet modifié.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hidemeInt">
                    <strong> Erreur update interet.</strong>
                </div>
            </div>
            <div ng-controller="operationsupprimerUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="supprimerInt()" 
                    class=" col-12 btn btn-warning" value="supprimer" />
                </div>
                <div class="alert alert-success" ng-show="showmeInt">
                    <strong><center>interet supprime.</center></strong>
                </div>
                <div class="alert alert-danger" ng-show="hidemeInt">
                    <strong> Erreur delete interet.</strong>
                </div>
            </div>
        </form>
    </div>

    <h3><center>Ajout interet</center></h3>

    <div class="row justify-content-center">
        <form class="form-well jumbotron"  id="idformcom">
            <input hidden="true" type="text" class="form-control" 
            ng-model="competence.idcompetence"/>

            <div class="col-auto row form-group">
                <label class="form-label col" > TITRE :</label>
                    <input type="text"  ng-model="interet.nom" />
            </div>

            <div class="col-auto row form-group">
                <label class="form-label col" >COMMENTAIRE:</label>
            </div>
            <div class="col-auto row form-group ">
                <textarea ng-model="interet.commentaire" class="col-offset-3 col-12" form="idformcom">
                </textarea>
            </div>
            <div ng-controller="operationinsereUtilisateur">
                <div class="col-auto row form-group" > 
                    <input type="submit" ng-click="insererInt()" 
                    class=" col-12 btn btn-success" value="valider" />
                </div>
                <div class="alert alert-success" ng-show="showmeInt">
                    <strong> interet ajouté.</strong>
                </div>
                <div class="alert alert-danger" ng-show="hidemeInt">
                    <strong> Erreur ajout interet.</strong>
                </div>
            </div>
        </form>
    </div>
</div>